@font-face {
  font-family: "amin";
  src: url(../fonts/amin.ttf) format("truetype");
}
@font-face {
  font-family: "sultan";
  src: url(../fonts/Sultan\ Adan\ 2Line\ .ttf) format("truetype");
}
body {
  direction: rtl;
}
body section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.home-btn {
  position: fixed;
  top: 5%;
  left: 3%;
  z-index: 1000;
  font-size: 2.5rem;
  box-shadow: 0px 0px 20px -6px #fff;
  height: 4rem;
  width: 4rem;
  border-radius: 20%;
  background-color: #5a189a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-btn:hover {
  background-color: #00E77F;
}
.home-btn i {
  color: #fff;
  padding: 1rem;
  text-align: center;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  font-family: "amin";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  text-transform: capitalize;
}

.header {
  background-color: #7b2cbf;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header .flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .flex .navbar a {
  text-decoration: none;
  margin-left: 2rem;
  color: #aaa;
  font-size: 2rem;
}
.header .flex .navbar a:hover {
  color: #00E77F;
}
.header .flex #menu-btn {
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  display: none;
}
.header .flex #switch {
  width: 8rem;
  height: 4rem;
  background-color: #5a189a;
  border-radius: 2rem;
  position: relative;
}
.header .flex #switch .flicker {
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255), inset -4px -4px 4px rgba(195, 193, 198, 0.9);
}
.header .flex #switch .moon {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 0 0 #fff;
  position: absolute;
  top: 0.5rem;
  left: 4.5rem;
}

#main {
  margin-top: 8rem;
}
#main h1 {
  text-align: center;
  color: #00E77F;
  font-size: 3rem;
}
#main .course-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}
#main .course-wrapper .course {
  grid-column: span 1;
  background-color: #c4aaff;
  width: 100%;
  border-radius: 2rem;
}
#main .course-wrapper .course #imgBox img {
  display: block;
  margin: 0 auto;
  width: 90%;
}
#main .course-wrapper .course .course-title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}
#main .course-wrapper .course .course-title a {
  color: #fff;
  text-decoration: none;
}
#main .course-wrapper .course p {
  text-align: center;
  padding: 1rem;
}

.footer {
  background-color: #9d4edd;
  text-align: center;
}
.footer .share a {
  margin: 0 0.3rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
  background-color: #c4aaff;
  text-align: center;
}
.footer .share a:hover {
  background-color: #00E77F;
}
.footer .credit {
  /* text-align: center; */
  margin-top: 2.5rem;
  padding: 1.5rem;
  border-top: 0.1rem solid #aaa;
  font-size: 2rem;
  color: #aaa;
}
.footer .credit span {
  color: #00E77F;
}

body.dark {
  background-color: #3d3d3d;
  transition: 0.3s;
}
body.dark .header {
  background-color: #4b4b4b;
}
body.dark .header .flex #switch {
  background-color: #3d3d3d;
}
body.dark .header .flex #switch .flicker {
  transform: translateX(4rem);
}
body.dark .footer {
  background-color: #4b4b4b;
}
body.dark .footer .share a {
  background-color: #3d3d3d;
}
body.dark .footer .share a:hover {
  background-color: #00E77F;
}/*# sourceMappingURL=courses.css.map */