@font-face {
  font-family: "amin";
  src: url(../fonts/amin.ttf) format("truetype");
}
@font-face {
  font-family: "sultan";
  src: url(../fonts/Sultan\ Adan\ 2Line\ .ttf) format("truetype");
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  font-family: "amin";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  text-transform: capitalize;
}

body {
  direction: rtl;
}
body section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.home-btn {
  position: fixed;
  top: 5%;
  left: 3%;
  z-index: 1000;
  font-size: 2.5rem;
  width: 4rem;
  border-radius: 20%;
  background-color: #5a189a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-btn:hover {
  background-color: #00E77F;
}
.home-btn a i {
  color: #fff;
  padding: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "amin";
}

body {
  direction: rtl;
}
body .header {
  background-color: #7b2cbf;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
body .header .flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .header .flex .navbar a {
  text-decoration: none;
  margin-left: 2rem;
  color: #aaa;
  font-size: 2rem;
}
body .header .flex .navbar a:hover {
  color: #00E77F;
}
body .header .flex #menu-btn {
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  display: none;
}
body .header .flex .home {
  display: flex;
}
body .header .flex .home .home-btn {
  position: relative;
  font-size: 1.7rem;
  margin: 0 1.5rem;
}
body .header .flex .home #switch {
  width: 8rem;
  height: 4rem;
  background-color: #5a189a;
  border-radius: 2rem;
  position: relative;
}
body .header .flex .home #switch .flicker {
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255), inset -4px -4px 4px rgba(195, 193, 198, 0.9);
}
body .header .flex .home #switch .moon {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 0 0 #fff;
  position: absolute;
  top: 0.5rem;
  left: 4.5rem;
}
body .form-container {
  margin-top: 8rem;
  width: 100%;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
body .form-container .title {
  grid-column: 3/4;
  height: 50px;
  background-color: #9d4edd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-bottom: 1rem;
}
body .form-container .title h3 {
  margin: 1rem;
  padding: 4rem;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
body .form-container .title h3.hide {
  display: none;
}
body .form-container #login {
  z-index: 2;
  grid-column: 3/4;
  grid-row: 2/3;
  display: block;
  margin: auto;
  width: 400px;
  background-color: #c4aaff;
  border: 1px solid #020202;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(122, 122, 122, 0.3);
  padding: 50px 35px;
}
body .form-container #login form label {
  display: block;
  margin-top: 2rem;
  font-size: 1rem;
}
body .form-container #login form input {
  outline: none;
  border: none;
  width: 100%;
  background-color: #e0aaff;
  border: 1px solid #020202;
  border-radius: 4px;
  padding: 15px 10px;
  margin-top: 8px;
  font-weight: 100;
}
body .form-container #login form .pass {
  position: relative;
}
body .form-container #login form .pass i {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
body .form-container #login form #show-hide {
  font-size: 1rem;
}
body .form-container #login form button {
  margin-top: 30px;
  width: 100%;
  background-color: #9d4edd;
  padding: 15px 0;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #020202;
  transition: all 0.1s;
}
body .form-container #login form button:hover {
  background-color: #00E77F;
  color: #fff;
}
body .form-container #login form button a {
  text-decoration: none;
  font-size: 2rem;
}
body .form-container #login form button a:hover {
  color: #fff;
}
body .form-container #login form hr {
  margin-top: 20px;
  height: 1px;
  background-color: #fff;
  border: none;
  outline: #00E77F;
}
body .form-container #login form .social-countainer {
  margin-top: 20px;
  margin-bottom: 20px;
}
body .form-container #login form .social-countainer h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
body .form-container #login form .social-countainer .social {
  display: flex;
  justify-content: center;
  width: 100%;
}
body .form-container #login form .social-countainer .social div {
  background-color: #c77dff;
  width: 150px;
  border: 1px solid #020202;
  border-radius: 5px;
  text-align: center;
  padding: 1px 5px;
  margin: 0 14px;
  cursor: pointer;
}
body .form-container #login form .social-countainer .social div:hover {
  background-color: #00E77F;
}
body .form-container #login form .social-countainer .social div:hover a i {
  color: #fff;
}
body .form-container #login form .social-countainer .social div a {
  text-decoration: none;
  color: #5a189a;
}
body .form-container #login form .social-countainer .social div a i {
  margin-right: 4px;
}
body .form-container #login.hide {
  display: none;
}
body .form-container #sign-up {
  grid-column: 3/4;
  grid-row: 2/3;
  display: block;
  margin: auto;
  width: 400px;
  background-color: #c4aaff;
  border: 1px solid #020202;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(122, 122, 122, 0.3);
  padding: 50px 35px;
}
body .form-container #sign-up form input {
  outline: none;
  border: none;
  width: 100%;
  background-color: #e0aaff;
  border: 1px solid #020202;
  border-radius: 4px;
  padding: 15px 10px;
  margin-top: 8px;
  font-weight: 100;
}
body .form-container #sign-up form .pass {
  position: relative;
}
body .form-container #sign-up form .pass i {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
body .form-container #sign-up form button {
  margin-top: 30px;
  width: 100%;
  background-color: #9d4edd;
  padding: 15px 0;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #020202;
  transition: all 0.1s;
}
body .form-container #sign-up form button:hover {
  background-color: #00E77F;
  color: #fff;
}
body .form-container #sign-up.hide {
  display: none;
}

.footer {
  background-color: #9d4edd;
  text-align: center;
}
.footer .share a {
  margin: 0 0.3rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
  background-color: #c4aaff;
  text-align: center;
}
.footer .share a:hover {
  background-color: #00E77F;
}
.footer .credit {
  /* text-align: center; */
  margin-top: 2.5rem;
  padding: 1.5rem;
  border-top: 0.1rem solid #aaa;
  font-size: 2rem;
  color: #aaa;
}
.footer .credit span {
  color: #00E77F;
}

body.dark {
  background-color: #3d3d3d;
  transition: 0.3s;
}
body.dark .header {
  background-color: #4b4b4b;
}
body.dark .header .flex #switch {
  background-color: #3d3d3d;
}
body.dark .header .flex #switch .flicker {
  transform: translateX(4rem);
}
body.dark .header .flex .home-btn {
  background-color: #3d3d3d;
}
body.dark .header .flex .home-btn:hover a i {
  color: #00E77F;
}
body.dark .form-container .title {
  background-color: #5a189a;
}
body.dark .form-container #login {
  background-color: #aaa;
}
body.dark .form-container #login label {
  color: #fff;
}
body.dark .form-container #login input {
  background-color: #fff;
}
body.dark .form-container #login button {
  color: #fff;
}
body.dark .form-container #login button:hover {
  background-color: #00E77F;
}
body.dark .form-container #login .social-countainer .social div {
  background-color: #e0aaff;
}
body.dark .form-container #login .social-countainer .social div:hover {
  background-color: #00E77F;
}
body.dark .form-container #login .social-countainer .social div:hover a i {
  color: #fff;
}
body.dark .form-container #sign-up {
  background-color: #aaa;
}
body.dark .form-container #sign-up input {
  background-color: #fff;
}
body.dark .footer {
  background-color: #4b4b4b;
}
body.dark .footer .share a {
  background-color: #3d3d3d;
}
body.dark .footer .share a:hover {
  background-color: #00E77F;
}

@media (max-width: 768px) {
  .header .flex #menu-btn {
    display: inline-block;
  }
  .header .flex #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #aaa;
    border-bottom: 0.1rem solid #aaa;
    background-color: #7b2cbf;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .flex .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .flex .navbar a {
    display: block;
    text-align: center;
    margin: 2rem;
  }
}/*# sourceMappingURL=login-form.css.map */