@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "amin";
  src: url(../fonts/amin.ttf) format("truetype");
}
@font-face {
  font-family: "sultan";
  src: url(../fonts/Sultan\ Adan\ 2Line\ .ttf) format("truetype");
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  font-family: "amin";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  text-transform: capitalize;
}

body {
  direction: rtl;
}
body section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.home-btn {
  position: fixed;
  top: 5%;
  left: 3%;
  z-index: 1000;
  font-size: 2.5rem;
  width: 4rem;
  border-radius: 20%;
  background-color: #5a189a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-btn:hover {
  background-color: #00E77F;
}
.home-btn a i {
  color: #fff;
  padding: 1rem;
}

/* @font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-VariableFont_wght.ttf) format('truetype'),
         url(../fonts/Rubik-Italic-VariableFont_wght.ttf);
} */
* {
  font-family: "amin";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #9d4edd;
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #e0aaff;
  color: #5a189a;
}

.heading {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 4rem;
  color: #c4aaff;
  text-transform: uppercase;
}
.heading span {
  text-transform: uppercase;
  color: #00E77F;
}

body.dark {
  background-color: #3d3d3d;
  transition: 0.3s;
}
body.dark #loader-wrapper {
  background-color: #3d3d3d;
}
body.dark .header {
  background-color: #4b4b4b;
}
body.dark .header .flex .clock {
  background-color: #3d3d3d;
  box-shadow: 4px 4px 20px rgba(122, 122, 122, 0.3);
  color: #e0aaff;
}
body.dark .header .flex #switch {
  background-color: #3d3d3d;
}
body.dark .header .flex #switch .flicker {
  transform: translateX(4rem);
}
body.dark .count .box-container .box {
  background-color: #4b4b4b;
}
body.dark .count .box-container .box .content p {
  color: #aaa;
}
body.dark .courses .course-slider .course-slide {
  background-color: #4b4b4b;
}
body.dark .courses .course-slider .course-slide p {
  color: #aaa;
}
body.dark .teachers .teachers-slider .slide {
  background-color: transparent;
  border: none;
}
body.dark .reviwes .reviews-slider #students-wrapper .slide {
  background-color: #4b4b4b;
}
body.dark .reviwes .reviews-slider #students-wrapper .slide p {
  color: #aaa;
}
body.dark .contact form .box {
  background-color: #4b4b4b;
}
body.dark .contact form .radio label {
  color: #aaa;
}
body.dark .contact form .radio input {
  background-color: #aaa;
}
body.dark .footer {
  background-color: #4b4b4b;
}
body.dark .footer .share a {
  background-color: #3d3d3d;
}
body.dark .footer .share a:hover {
  background-color: #00E77F;
}

@keyframes hover {
  0% {
    transform: scale(0.5);
    color: #7b2cbf;
    -webkit-text-stroke: 2px gray;
  }
  20% {
    transform: scale(1);
    color: #fff;
    -webkit-text-stroke: 3px red;
    filter: drop-shadow(0 0 1px #7b2cbf) drop-shadow(0 0 1px #7b2cbf) drop-shadow(0 0 3px red) drop-shadow(0 0 5px red) hue-rotate(10turn);
  }
  50% {
    transform: scale(0.5);
    color: #9d4edd;
    -webkit-text-stroke: 2px gray;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#loader-wrapper {
  direction: ltr;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #c4aaff;
  align-items: center;
  justify-content: center;
}
#loader-wrapper #loader {
  text-align: center;
}
#loader-wrapper #loader p {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 10rem;
  font-family: arial;
  font-weight: 600;
  transform: scale(0.5);
  color: #e0aaff;
  -webkit-text-stroke: 2px gray;
}
#loader-wrapper #loader p:nth-child(1) {
  animation: hover 1s linear infinite;
}
#loader-wrapper #loader p:nth-child(2) {
  animation: hover 1s linear infinite 0.125s;
}
#loader-wrapper #loader p:nth-child(3) {
  animation: hover 1s linear infinite 0.25s;
}
#loader-wrapper #loader p:nth-child(4) {
  animation: hover 1s linear infinite 0.375s;
}
#loader-wrapper #loader p:nth-child(5) {
  animation: hover 1s linear infinite 0.5s;
}
#loader-wrapper #loader p:nth-child(6) {
  animation: hover 1s linear infinite 0.675s;
}
#loader-wrapper #loader p:nth-child(7) {
  animation: hover 1s linear infinite 0.75s;
}
#loader-wrapper #loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

#oader-wrapper.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

.header {
  background-color: #7b2cbf;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header .flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .flex .navbar a {
  margin-left: 2rem;
  color: #aaa;
  font-size: 2rem;
}
.header .flex .navbar a:hover {
  color: #00E77F;
}
.header .flex #menu-btn {
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  display: none;
}
.header .flex .clock {
  background-color: #9d4edd;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  font-weight: 900;
  font-style: italic;
  padding: 0.5rem;
  border-radius: 15rem;
  text-transform: lowercase;
  font-size: 2rem;
  letter-spacing: 7px;
}
.header .flex #switch {
  width: 8rem;
  height: 4rem;
  background-color: #5a189a;
  border-radius: 2rem;
  position: relative;
}
.header .flex #switch .flicker {
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255), inset -4px -4px 4px rgba(195, 193, 198, 0.9);
}
.header .flex #switch .moon {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 0 0 #fff;
  position: absolute;
  top: 0.5rem;
  left: 4.5rem;
}

.home {
  margin-top: 6.5rem;
}
.home .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  border: 2px solid #020202;
  border-radius: 10px;
}
.home .row .content {
  flex: 1 1 40rem;
  text-align: center;
}
.home .row .content h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 10rem;
  color: #e0aaff;
  line-height: 1;
}
.home .row .content h3 span {
  color: #00E77F;
  text-shadow: 2px 2px #020202;
}
.home .row .img {
  flex: 1 1 40rem;
  /* border: 2px solid $borderBlack; */
}
.home .row .img img {
  width: 100%;
}

.count .box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  align-items: flex-start;
}
.count .box-container .box {
  background-color: #c4aaff;
  border-radius: 0.5rem;
  border: 2px solid #020202;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.count .box-container .box i {
  font-size: 4.5rem;
  color: #00E77F;
  text-shadow: 2px 2px #020202;
}
.count .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
  margin: 0.5rem;
}
.count .box-container .box .content p {
  font-size: 1.6rem;
  color: #5a189a;
}

.about .row {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
}
.about .row .image {
  width: 100%;
}
.about .row .image img {
  width: 100%;
}
.about .row .content {
  display: flex;
  text-align: center;
  justify-content: center;
}
.about .row .content .dictionary {
  background: #c4aaff;
  border-radius: 1.5rem;
  color: #fff;
  width: 100%;
  direction: ltr;
  margin: 0 auto;
}
.about .row .content .dictionary #dic-title {
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  text-shadow: -5px -3px 2px #7b2cbf;
}
.about .row .content .dictionary .input-wrapper {
  position: relative;
}
.about .row .content .dictionary .input-wrapper .txtBox {
  border: 1px solid #999;
  border-radius: 11px;
  font-size: 16px;
  padding: 15px;
  width: 90%;
}
.about .row .content .dictionary .input-wrapper .txtBox:focus {
  border: 2px solid #9019e6;
}
.about .row .content .dictionary .input-wrapper .txtBox::-moz-placeholder {
  color: #B8B8B8;
}
.about .row .content .dictionary .input-wrapper .txtBox::placeholder {
  color: #B8B8B8;
}
.about .row .content .dictionary .input-wrapper .fa-times {
  font-size: 2rem;
  color: #c4aaff;
  position: absolute;
  top: 30%;
  left: 85%;
}
.about .row .content .dictionary .search-result {
  padding: 20px;
}
.about .row .content .dictionary .search-result .description {
  font-size: 2rem;
}
.about .row .content .dictionary .search-result .volume-box {
  display: grid;
  grid-template-columns: 10% 10%;
}
.about .row .content .dictionary .search-result .volume-box #volume {
  font-size: 2.5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 3rem;
  cursor: pointer;
  display: none;
}
.about .row .content .dictionary .search-result .volume-box #phonetic {
  margin-left: 2rem;
  font-size: 2rem;
}
.about .row .content .dictionary .search-result #meaning {
  padding: 1.5rem;
  font-size: 2rem;
}

.courses .course-slider .swiper-wrapper .course-slide {
  border: 2px solid #020202;
  border-radius: 0.5rem;
  /* width: 30rem; */
  background-color: #c4aaff;
  text-align: center;
  padding: 2rem;
  margin-bottom: 4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.courses .course-slider .swiper-wrapper .course-slide img {
  /* width: 100%; */
  height: 24rem;
}
.courses .course-slider .swiper-wrapper .course-slide h3 a {
  margin: 1.5rem;
  font-size: 2rem;
  color: #fff;
}
.courses .course-slider .swiper-wrapper .course-slide h3 a:hover {
  color: #00E77F;
}
.courses .course-slider .swiper-wrapper .course-slide p {
  line-height: 2;
  font-size: 1.6rem;
  color: #5a189a;
}

.swiper-pagination-bullet {
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: #00E77F;
}

.teachers .teachers-slider .swiper-wrapper .slide {
  position: relative;
  /* width: 40rem; */
  overflow: hidden;
  margin-bottom: 4rem;
  padding-top: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 1px solid #020202;
  border-radius: 0.5rem;
  background-color: #c4aaff;
}
.teachers .teachers-slider .swiper-wrapper .slide img {
  height: 20rem;
  width: 100%;
  /* object-fit: cover; */
}
.teachers .teachers-slider .swiper-wrapper .slide .share {
  position: absolute;
  top: 4rem;
  left: -10rem;
}
.teachers .teachers-slider .swiper-wrapper .slide .share a {
  font-size: 2rem;
  display: block;
  margin-top: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #3d3d3d;
  text-align: center;
}
.teachers .teachers-slider .swiper-wrapper .slide .share a:hover {
  background-color: #00E77F;
  color: #fff;
}
.teachers .teachers-slider .swiper-wrapper .slide:hover .share {
  left: 3.5rem;
}
.teachers .teachers-slider .swiper-wrapper .slide h3 {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.teachers .teachers-slider .swiper-wrapper .slide h3:hover {
  color: #00E77F;
}

.reviwes .reviews-slider #students-wrapper .slide {
  /* width: 35rem; */
  border-radius: 0.5rem;
  border: 2px solid #020202;
  background-color: #c4aaff;
  padding: 2rem;
  margin-bottom: 4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.reviwes .reviews-slider #students-wrapper .slide p {
  line-height: 2;
  font-size: 1.6rem;
  color: #5a189a;
}
.reviwes .reviews-slider #students-wrapper .slide .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.reviwes .reviews-slider #students-wrapper .slide .user img {
  height: 7rem;
  width: 7rem;
  /* border-radius: 50%; */
  -o-object-fit: contain;
     object-fit: contain;
}
.reviwes .reviews-slider #students-wrapper .slide .user .user-info h3 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 0.5rem;
}
.reviwes .reviews-slider #students-wrapper .slide .user .user-info .stars i {
  font-size: 1.6rem;
  color: #00E77F;
}

.contact .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.contact .row .image {
  flex: 1 1 40rem;
}
.contact .row .image img {
  width: 100%;
}
.contact .row form {
  flex: 1 1 40rem;
}
.contact .row form .box {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: #c4aaff;
  font-size: 1.8rem;
  color: #fff;
  padding: 1.4rem;
  text-transform: none;
}
.contact .row form label {
  font-size: 1.6rem;
  color: #aaa;
}
.contact .row form .radio {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.contact .row form .radio label {
  font-size: 1.6rem;
  color: #c4aaff;
  margin-left: 0.5rem;
  cursor: pointer;
}
.contact .row form .radio #female {
  margin-left: 2rem;
}
.contact .row form .radio #female:checked ~ label[for=female] {
  color: #00E77F;
}
.contact .row form .radio #male:checked ~ label[for=male] {
  color: #00E77F;
}
.contact .row form .radio input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 2rem;
  width: 2rem;
  background-color: #c4aaff;
  cursor: pointer;
}
.contact .row form .radio input:checked {
  background-color: #00E77F;
  border-radius: 5rem;
}

.footer {
  background-color: #9d4edd;
  text-align: center;
}
.footer .share a {
  margin: 0 0.3rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
  background-color: #c4aaff;
  text-align: center;
}
.footer .share a:hover {
  background-color: #00E77F;
}
.footer .credit {
  /* text-align: center; */
  margin-top: 2.5rem;
  padding: 1.5rem;
  border-top: 0.1rem solid #aaa;
  font-size: 2rem;
  color: #aaa;
}
.footer .credit span {
  color: #00E77F;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home .row .content h3 {
    font-size: 8rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .header .flex #menu-btn {
    display: inline-block;
  }
  .header .flex #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #aaa;
    border-bottom: 0.1rem solid #aaa;
    background-color: #7b2cbf;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .flex .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .flex .navbar a {
    display: block;
    text-align: center;
    margin: 2rem;
  }
  .home .row .content h3 {
    font-size: 6rem;
  }
}
@media (max-width: 690px) {
  .count .box-container {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .row .content h3 {
    font-size: 5rem;
  }
  .heading {
    font-size: 3rem;
    color: dd;
  }
}/*# sourceMappingURL=style.css.map */