
//-----------------typography-----------
@font-face {
    font-family: 'amin';
    src: url(../fonts/amin.ttf) format('truetype')
} 
@font-face {
    font-family: 'sultan';
    src: url(../fonts/Sultan\ Adan\ 2Line\ .ttf) format('truetype')
} 

//--------------------------------------------------------------
$violet4: #5a189a;
$violet3: #7b2cbf;
$violet2:#9d4edd;
$violet1:#c77dff;
$violet0: #e0aaff;
$violet-bg: #c4aaff;
$green:#00E77F;
$starYellow: #ffff00;
$white: #fff;
$light-white:#aaa;
$light-bg:#4b4b4b;
$dark-bg:#4e4e4e;
$black:#3d3d3d;
$borderBlack:#020202;
$border: 1px solid $borderBlack;
$white-shadow: rgba(122,122,122,0.3);
$box-shadow-white: 4px 4px 20px rgba(122,122,122,0.3);

//-----------------------------
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}
body{
    font-family: 'amin';
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    text-transform: capitalize;
}
body{
    direction: rtl;
    // background-color: $black;
    section{
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }
}


//----- Dark & Light Mood ----
@mixin switchMood (){
    #switch{
        width: 8rem;
        height: 4rem;
        background-color: $violet4;
        border-radius: 2rem;
        position: relative;
        .flicker{
            background-color: $white;
            width: 3rem;
            height: 3rem;
            border-radius: 1.5rem;
            position: absolute;
            top: .5rem;
            left: .5rem;
            transition: .3s;
            box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
                        inset -4px -4px 4px rgb(195 193 198 / 90%);
        }
        .moon{
            width: 2rem;
            height: 2rem;
            border-radius: 1rem;
            box-shadow: 4px 4px 0 0 $white;
            position: absolute;
            top: .5rem;
            left: 4.5rem;
        }
    }
}
//---------------------------------------

.home-btn{
    position: fixed;
    top: 5%;
    left: 3%;
    z-index: 1000;
    font-size: 2.5rem;
    width: 4rem;
    border-radius: 20%;
    background-color: $violet4;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: $green;
    }
    a{
        i{
            color: $white;
            padding: 1rem;
        }
    }
}

