@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import "main.scss";

/* @font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-VariableFont_wght.ttf) format('truetype'),
         url(../fonts/Rubik-Italic-VariableFont_wght.ttf);
} */

//------------------------------------------------
// $green:#00E77F;
// $white: #fff;
// $light-white:#aaa;
// $black:#3d3d3d;
// $light-bg:#4b4b4b;
// $borderBlack:#020202;

//------------------------------------------------
*{
    // font-family: 'Rubik', sans-serif;
    font-family: 'amin';
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    text-transform: capitalize;
}
// *::selection{
//     background-color: $white;
//     color: $black;
// }
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

// -----------------------------------------

.btn{
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: $violet2;
    font-size: 1.8rem;
    color: $white;
    padding: 1rem 3rem;
    border-radius: 5rem;
    cursor: pointer;
}
.btn:hover{
    background-color: $violet0;
    color: $violet4;
}

.heading {
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 4rem;
    color: $violet-bg;
    text-transform: uppercase;
    span{
        text-transform: uppercase;
        color: $green;
    }
}

//---------------Dark Mood------------------------
body.dark{
    background-color: $black;
    transition: .3s;
    #loader-wrapper{
        background-color: $black;
    }
    .header{
        background-color: $light-bg;
        .flex{
            .clock{
                background-color: $black;
                box-shadow: $box-shadow-white;
                color: $violet0;
            }
            #switch{
                background-color: $black;
                .flicker {
                    transform: translateX(4rem);
                }
            }
        }
    }
    .count{
        .box-container{
            .box{
                background-color: $light-bg;
                .content{
                    p{
                        color: $light-white;
                    }
                }
            }
        }
    }
    .courses{
        .course-slider{
            .course-slide{
                background-color: $light-bg;
                p{
                    color: $light-white;
                }
            }
        } 
    }
    .teachers{
        .teachers-slider{
            .slide{
                background-color: transparent;
                border: none;
            }
        }
    }
    .reviwes{
        .reviews-slider{
            #students-wrapper{
                .slide{
                    background-color: $light-bg;
                    p{
                        color: $light-white;
                    }
                }
            }
            
        }
    }
    .contact{
        form{
            .box{
                background-color: $light-bg;
            }
            .radio{
                label{
                    color: $light-white;
                }
                input{
                    background-color: $light-white;
                }
            }
        }
    }
    .footer{
        background-color: $light-bg;
        .share{
            a{
                background-color: $black;
                &:hover{
                    background-color: $green;
                }
            }
        }
    }
}
//---------------End Dark Mood------------------------

//-------------- LOADING -----------------------------

@keyframes hover {
    0% {
      transform: scale(.5);
      color: $violet3;
      -webkit-text-stroke: 2px gray;
    }
  
    20% {
      transform: scale(1);
      color: $white;
      -webkit-text-stroke: 3px red;
      filter: drop-shadow(0 0 1px $violet3)drop-shadow(0 0 1px $violet3)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
    }
  
    50% {
      transform: scale(.5);
      color: $violet2;
      -webkit-text-stroke: 2px gray;
    }
}

@keyframes fadeOut {
    100% {
      opacity: 0;
      visibility: hidden;
    }
}

#loader-wrapper{
    direction: ltr;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: $violet-bg;
    align-items: center;
    justify-content: center;
    #loader{
        text-align: center;
        p {
            display: inline-block;
            text-transform: uppercase;
            text-align: center;
            font-size: 10rem;
            font-family: arial;
            font-weight: 600;
            transform: scale(.5);
            color: $violet0;
            -webkit-text-stroke: 2px gray;
            &:nth-child(1) {
                animation: hover 1s linear infinite;
            }
            &:nth-child(2) {
                animation: hover 1s linear infinite .125s;
            }
            &:nth-child(3) {
                animation: hover 1s linear infinite .25s;
            }
            &:nth-child(4) {
                animation: hover 1s linear infinite .375s;
            }
            &:nth-child(5) {
                animation: hover 1s linear infinite .5s;
            }
            &:nth-child(6) {
                animation: hover 1s linear infinite .675s;
            }
            &:nth-child(7) {
                animation: hover 1s linear infinite .75s;
            }
        }
    }
    #loader.hidden {
        animation: fadeOut 1s;
        animation-fill-mode: forwards;
    }
}
#oader-wrapper.hidden {
        animation: fadeOut 1s;
        animation-fill-mode: forwards;
}

//---------------Light Mood------------------------

// -------------Header------------------
.header{
    background-color: $violet3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    .flex{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar{
            a{
                margin-left: 2rem;
                color: $light-white;
                font-size: 2rem;
                &:hover{
                    color: $green;
                }
            }
        }
        #menu-btn{
            cursor: pointer;
            color: $white;
            font-size: 2.5rem;
            display: none;
        }
        //-----For Dark & Light Mood ----
        // #switch{
        //     width: 8rem;
        //     height: 4rem;
        //     background-color: $violet4;
        //     border-radius: 2rem;
        //     position: relative;
        //     .flicker{
        //         background-color: $white;
        //         width: 3rem;
        //         height: 3rem;
        //         border-radius: 1.5rem;
        //         position: absolute;
        //         top: .5rem;
        //         left: .5rem;
        //         transition: .3s;
        //         box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
        //                     inset -4px -4px 4px rgb(195 193 198 / 90%);
        //     }
        //     .moon{
        //         width: 2rem;
        //         height: 2rem;
        //         border-radius: 1rem;
        //         box-shadow: 4px 4px 0 0 $white;
        //         position: absolute;
        //         top: .5rem;
        //         left: 4.5rem;
        //     }
        // }
        .clock{
            background-color: $violet2;
            font-family: 'Courier New', Courier, monospace;
            // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: $white;
            font-weight: 900;
            font-style: italic;
            padding: .5rem;
            border-radius: 15rem;
            text-transform: lowercase;
            font-size: 2rem;
            // font-family: ;
            letter-spacing: 7px;
        }
        @include switchMood ();
    }
}
// ----------------Home--------------------
.home{
    margin-top: 6.5rem;
    // border: 2px solid $borderBlack;
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap-reverse;
        gap: 1.5rem;
        border: 2px solid $borderBlack;
        border-radius: 10px;
        .content{
            flex:1 1 40rem;
            text-align: center;
            h3{
                margin-bottom: 1rem;
                margin-top: 1rem;
                font-size: 10rem;
                color: $violet0;
                line-height: 1;
                span{
                    color: $green;
                    text-shadow: 2px 2px $borderBlack;
                    
                }
            }
        }
        .img{
            flex:1 1 40rem;
            /* border: 2px solid $borderBlack; */
            img{
                width: 100%;
            }
        }
    }
}
//-------------------Counter--------------------
.count{
    .box-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1.5rem;
        align-items: flex-start;
        .box{
            background-color: $violet-bg;
            border-radius: 0.5rem;
            border: 2px solid $borderBlack;
            padding: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2.5rem;
            i{
                font-size: 4.5rem;
                color: $green;
                text-shadow: 2px 2px $borderBlack;
            }
            .content{
                h3{
                    font-size: 2rem;
                    color: $white;
                    margin: 0.5rem;
                }
                p{
                    font-size: 1.6rem;
                    color: $violet4;
                }
            }
        }
    }
}
// ----------------About------------------
.about{
    .row{
        display: grid;
        grid-template-columns: 2fr 3fr;
        // align-items: center;
        gap: 1rem;
        // flex-wrap: wrap;
        .image{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .content{
            display: flex;
            text-align: center;
            justify-content: center;
            .dictionary{
                background: $violet-bg;
                border-radius: 1.5rem;
                color: #fff;
                width: 100%;
                direction: ltr;
                // height: 80%;
                margin: 0 auto;
                #dic-title{
                    padding: 2rem;
                    text-align: center;
                    font-size: 3rem;
                    // font-family: 'Times New Roman', Times, serif;
                    font-family: 'Times New Roman', Times, serif;
                    // text-shadow: 0px 0px 2px $violet4;
                    text-shadow: -5px -3px 2px $violet3;
                }
                .input-wrapper{
                    position: relative;
                    .txtBox {
                        border: 1px solid #999;
                        border-radius: 11px;
                        font-size:16px;
                        padding: 15px;
                        width:90%;
                        &:focus{
                            border: 2px solid #9019e6;
                        }
                        &::placeholder{
                            color: #B8B8B8;
                        }
                      }
                    .fa-times{
                        font-size: 2rem;
                        color: $violet-bg;
                        position: absolute;
                        top:30%;
                        left: 85%;
                    }
                }
                .search-result{
                    padding:20px;
                    .description{
                        font-size: 2rem;
                    }
                    .volume-box{
                        display: grid;
                        grid-template-columns: 10% 10%;
                        #volume{
                            font-size: 2.5rem;
                            border-radius: 50%;
                            // padding: 2rem;
                            width: 2rem;
                            height: 2rem;
                            margin-left: 3rem;
                            // color: $violet1;
                            cursor: pointer;
                            display: none;
                        }
                        #phonetic{
                            margin-left: 2rem;
                            font-size: 2rem;
                        }
                    }
                    #meaning{
                        padding: 1.5rem;
                        font-size: 2rem;
                    }
                }
            }
            
            
        }
    }
}
// ---------------Coursess---------------
.courses{
    .course-slider{
        .swiper-wrapper{
            .course-slide{
                border: 2px solid $borderBlack;
                border-radius: 0.5rem;
                /* width: 30rem; */
                background-color: $violet-bg;
                text-align: center;
                padding: 2rem;
                margin-bottom: 4rem;
                user-select: none;
                img{
                    /* width: 100%; */
                    height: 24rem;
                }
                h3{
                    a{
                        margin: 1.5rem;
                        font-size: 2rem;
                        color: $white;
                        &:hover{
                            color: $green;
                        }
                    }
                }
                p{
                    line-height: 2;
                    font-size: 1.6rem;
                    color: $violet4;
                }
            }
        }
    }
}
//----------------------------------------------
//-----------------------------------------------
.swiper-pagination-bullet{
    background-color: $white;
} 
.swiper-pagination-bullet-active{
    background-color: $green;
}
//-----------------------------------------------
//--------------------Teachers------------------------
.teachers{
    .teachers-slider{
        .swiper-wrapper{
            .slide{
                position: relative;
                /* width: 40rem; */
                overflow: hidden;
                margin-bottom: 4rem;
                padding-top: 2rem;
                user-select: none;
                border: 1px solid $borderBlack;
                border-radius: 0.5rem;
                background-color: $violet-bg;
                img{
                    height: 20rem;
                    width: 100%;
                    /* object-fit: cover; */
                }
                .share{
                    position: absolute;
                    top: 4rem;
                    left: -10rem;
                    a{
                        font-size: 2rem;
                        display: block;
                        margin-top: 1rem;
                        height: 4.5rem;
                        width: 4.5rem;
                        line-height: 4.5rem;
                        border-radius: 0.5rem;
                        background-color: $white;
                        color: $black;
                        text-align: center;
                        &:hover{
                            background-color: $green;
                            color: $white;
                        }
                    }
                    
                }
                &:hover .share{
                    left: 3.5rem;
                }
                
                h3{
                    margin-top: 1.5rem;
                    font-size: 2rem;
                    color: $white;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        color: $green;
                    }
                }
            }
        }
    
    }
}
//---------------------Reviwes-------------------------
.reviwes{
    .reviews-slider{
        #students-wrapper{
            .slide{
                /* width: 35rem; */
                border-radius: 0.5rem;
                border: 2px solid $borderBlack;
                background-color: $violet-bg;
                padding: 2rem;
                margin-bottom: 4rem;
                user-select: none;
                p{
                    line-height: 2;
                    font-size: 1.6rem;
                    color: $violet4;
                }
                .user{
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    margin-top: 1.5rem;
                    img{
                        height: 7rem;
                        width: 7rem;
                        /* border-radius: 50%; */
                        object-fit: contain;
                    }
                    .user-info{
                        h3{
                            font-size: 2rem;
                            color: $white;
                            margin-bottom: 0.5rem;
                        }
                        .stars{
                            i{
                                font-size: 1.6rem;
                                color: $green;
                            }
                        }
                    }
                }
            }
        }
    }
}
//-----------------Contact---------------------
.contact{
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        .image{
            flex: 1 1 40rem;
            img{
                width: 100%;
            }
        }
        form{
            flex: 1 1 40rem;
            .box{
                width: 100%;
                margin-top: 1rem;
                margin-bottom: 2rem;
                border-radius: 0.5rem;
                background-color: $violet-bg;
                font-size: 1.8rem;
                color: $white;
                padding: 1.4rem;
                text-transform: none;
            }
            label{
                font-size: 1.6rem;
                color: $light-white;
            }
            .radio{
                margin-top: 2rem; 
                margin-bottom: 1rem;
                label{
                    font-size: 1.6rem;
                    color: $violet-bg;
                    margin-left: 0.5rem;
                    cursor: pointer;
                }
                #female{
                    margin-left: 2rem;
                    &:checked ~ label[for='female']{
                        color: $green;
                    }
                }
                #male{
                    &:checked ~ label[for='male']{
                        color: $green;
                    }
                }
                input{
                    appearance: none;
                    height: 2rem;
                    width: 2rem;
                    background-color: $violet-bg;
                    cursor: pointer;
                    &:checked{
                        background-color: $green;
                        border-radius: 5rem;
                    }
                }
            }
        }
    }
}
// ------------------Footer-------------------------
.footer{
    background-color: $violet2;
    text-align: center;
    .share{
        a{
            margin: 0 0.3rem;
            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.5rem;
            border-radius: 50%;
            font-size: 2rem;
            color: $white;
            background-color: $violet-bg;
            text-align: center;
            &:hover{
                background-color: $green;
            }
        }
    }
    .credit{
        /* text-align: center; */
        margin-top: 2.5rem;
        padding: 1.5rem;
        border-top: 0.1rem solid $light-white;
        font-size: 2rem;
        color: $light-white;
        span{
            color: $green;
        }
    }
}

//----------------------------------------------------------------
//--------------------    Media Query   --------------------------

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .home .row .content h3{
        font-size: 8rem;
    }
}
//----------------
@media (max-width:768px){
    html{
        font-size: 50%;
    }
    .header{
        .flex{
            #menu-btn{
                display: inline-block;
                &.fa-times{
                    transform: rotate(180deg);
                }
            }
        }
    }
    .header{
        .flex{
            .navbar{
                position: absolute;
                top:99%; left: 0; right: 0;
                border-top: 0.1rem solid $light-white;
                border-bottom: 0.1rem solid $light-white;
                background-color: $violet3;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                &.active{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
                a{
                    display: block;
                    text-align: center;
                    margin: 2rem;
                }
            }
        }
    }
    .home{
        .row{
            .content{
                h3{
                    font-size: 6rem;
                }
            }
        }
    }

}
//--------
@media(max-width:690px){
    .count{
        .box-container{
            grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        }
    }
}
//--------
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .home{
        .row{
            .content{
                h3{
                    font-size: 5rem;
                }
            }
        }
    }
    .heading{
        font-size: 3rem;
        color: dd;
    }
}







